<div class="row">
  <div class="col-md-4">
    <%= render "filters_box" %>
  </div>
  <div class="col-md-8">
    <% if @latest.empty? %>
    <div class="alert alert-info animated fadeIn"><div class="panel-body"><p>No messages from your trust network. Extend your trust network by giving positive ratings to identifiers you trust.</p> 
    <% if current_user %>
    <p>Suggestion: <a href="<%= "/id/#{@nodeID[0]}/#{@nodeID[1]}" %>" class="id-link"><%= @nodeName %></a> (this node).</p>
    <p>You can also <a href="<%= "/id/#{current_user.type}/#{current_user.value}#connections" %>">get connected</a> to other identifiers that belong to you.</p></div>
 
    <% end %>
    </div>
    <% end %>
    <div id="messages">
   	<%= render "login_info" unless current_user %>
    <%= render partial: "message", collection: @latest, locals: {showAuthor: true, showRecipient: true} %>
    </div>
    <div id="more"><a href="#"></a></div>
    <div class="ladda-button" data-style="zoom-in" data-spinner-color="#000" id="feed-spinner"></div>
  </div>
</div>
