<div id="search-page" class="mar-top60-xs">
<% unless current_user || params[:query] %>
  <%=	render 'landing_page' %>
<% end %>

<table id="search-results" class="table table-hover">
<% @results.each do |r| %>
  <tr class="search-result-row">
    <td class="gravatar-col"><img alt="" src="https://www.gravatar.com/avatar/<%= r["gravatarHash"] %>?d=retro&s=45"></td>
    <td><a href="/id/<%=u r["type"] %>/<%=u r["value"] %>"><%= unless r["name"].empty?
                                                              r["name"]
                                                             else 
                                                               r["value"] 
                                                             end %></a><br>
                                                           <% if r["name"].empty? %>
                                                             <small><%= r["type"] %><%= ": #{r["value"]}" unless r["name"].empty? %></small>
                                                           <% end %>
        <span class="pull-right">
          <% unless r["email"].empty? %>
            <a class="btn btn-xs btn-social-icon btn-success" href="mailto:<%= r["email"] %>"><span class="glyphicon glyphicon-envelope"></span>&nbsp;</a> 
          <% end %>
          <% if r["facebook"] %>
            <a class="btn btn-xs btn-social-icon btn-facebook" href="<%= r["facebook"] %>"><span class="fa fa-facebook"></span></a> 
          <% end %>
          <% if r["twitter"] %>
            <a class="btn btn-xs btn-social-icon btn-twitter" href="<%= r["twitter"] %>"><span class="fa fa-twitter"></span></a> 
          <% end %>
          <% if r["google_plus"] %>
            <a class="btn btn-xs btn-social-icon btn-google-plus" href="<%= r["google_plus"] %>"><span class="fa fa-google-plus"></span></a> 
          <% end %>
        </span>
    </td>
  </tr>
<% end %>
<% if @results.empty? %>
<tr><td>No results</td><td></td></tr>
<% end %>
</table>
</div>

