<div id="search-page" class="mar-top60-xs">
<% unless current_user || params[:query] %>
  <%=	render 'landing_page' %>
<% end %>

<table id="search-results" class="table table-hover">
<% @results.each do |r| %>
  <tr class="search-result-row">
    <td class="gravatar-col"><img alt="" src="https://www.gravatar.com/avatar/<%= r["gravatarHash"] %>?d=retro&s=45"></td>
    <td><a href="/id/<%=u r["type"] %>/<%=u r["value"] %>"><%= unless r["name"].empty?
                                                              r["name"]
                                                             else 
                                                               r["value"] 
                                                             end %> 
                                                         </a>
                                                           <% if r["name"].empty? %>
                                                             <small><%= r["type"] %><%= ": #{r["value"]}" unless r["name"].empty? %></small>
                                                           <% end %>
                                                           <br>
        <% if r.length > 1 %>
            <small>
              <% if !r["nickname"].empty? && r["nickname"] != r["name"] %>
                <span class="mar-right10">
                   <%= r["nickname"] %>
                </span>
              <% end %>
              <% unless r["email"].empty? %>
                <span class="mar-right10">
                  <span class="glyphicon glyphicon-envelope"></span> <%= r["email"] %> 
                </span>
              <% end %>
              <% if r["facebook"] %>
                <span class="mar-right10"> 
                  <span class="fa fa-facebook"></span> <%= r["facebook"] %> 
                </span>
              <% end %> 
              <% if r["twitter"] %>
                <span class="mar-right10">
                  <span class="fa fa-twitter"></span> <%= r["twitter"] %>
                </span>
              <% end %> 
              <% if r["google_plus"] %>
                <span class="mar-right10">
                  <span class="fa fa-google-plus"></span> <%= r["google_plus"] %> 
                </span>
              <% end %> 
              <% if r["bitcoin"] %>
                <span class="mar-right10">
                  <span class="fa fa-bitcoin"></span> <%=u r["bitcoin"] %>
                </span>
              <% end %>
            </small>
        <% end %>
    </td>
  </tr>
<% end %>
<% if @results.empty? %>
<tr><td>No results</td><td></td></tr>
<% end %>
</table>
</div>

