<div class="row">
  <div class="col-md-4">
    <%= render "user_box" %>
    <%= render "filters_box" %>
  </div>
  <div class="col-md-8">
    <% if @latest.empty? %>
    <div class="alert alert-info"><div class="panel-body"><p>No messages from your trust network. Extend your trust network by giving positive ratings to identifiers you trust.</p> 
    <% if current_user %>
    <p>You can also link <a href="<%= "/id/#{current_user.provider}/#{current_user.uid}" %>"><%= "#{current_user.provider}: #{current_user.uid}" %></a> to other identifiers that belong to you.</p></div>
    <% end %>
    </div>
    <% end %>
    <div id="messages">
   	<%= render "login_info" unless current_user %>
    <%= render partial: "message", collection: @latest, locals: {showAuthor: true, showRecipient: true} %>
    </div>
    <div id="more"><a href="#"></a></div>
  </div>
</div>
