<% if current_user %>
<div id="user-box" class="panel panel-default">
  <div class="panel-body">
    <h4>
      <a href="<%= "/id/#{u current_user.type}/#{u current_user.value}"  %>">
        <% if @gravatarHash %>
        <img src="http://www.gravatar.com/avatar/<%= @gravatarHash %>?d=retro&s=70" class="img-thumbnail mar-right5" alt="Gravatar for <%= @gravatarEmail %>">
        <% end %>
      <%= current_user.name %>
      </a>
    </h4>
    <p>
    <% if @userOverview[:score] != "-" %>
    <strong><%= @userOverview[:score].round(2) %>%</strong> positive ratings
    <% else %>
    Not rated by anyone
    <% end %>
    </p>
    <p><strong><%= @userOverview["trustMapSize"] %></strong> identifiers in your trust map</p>
  </div>
</div>
<% end %>
