<% if current_user %>
<div id="user-box" class="panel panel-default">
  <div class="panel-body">
    <h4>
      <% if @gravatarHash %>
      <a href="http://www.gravatar.com/<%= @gravatarHash %>" data-toggle="tooltip" data-placement="right" title="Gravatar for <%= @gravatarEmail %>"><img src="http://www.gravatar.com/avatar/<%= @gravatarHash %>?d=retro&s=70" class="img-thumbnail" alt="Gravatar for <%= @gravatarEmail %>"></a>
      <% end %>
      <a href="<%= "/id/#{current_user.type}/#{current_user.value}"  %>"><%= current_user.name %></a>
    </h4>
    <p>
    <% if @userOverview[:score] != "-" %>
    <strong><%= @userOverview[:score].round(2) %>%</strong> positive ratings
    <% else %>
    Not rated by anyone
    <% end %>
    </p>
    <p><strong><%= @userOverview["trustMapSize"] %></strong> identifiers in your trust map</p>
  </div>
</div>
<% end %>
