<% if @packet.nil? %>
<h1>Message not found</h1>
<p>Message with hash '<%= params[:hash] %>' was not found.</p>
<% else %>

<%
  signedData = @packet["data"]["signedData"] 

  panelStyle = "panel-default"
  iconStyle = ""

  if signedData["type"] == "connection"
    iconStyle = "glyphicon-link"
  end

  if signedData["type"] == "review"
    rating = signedData["rating"]
    neutralRating = (signedData["minRating"] + signedData["maxRating"]) / 2
    if rating > neutralRating
      panelStyle = "panel-success"
      iconStyle = "glyphicon-thumbs-up"
    elsif rating < neutralRating
      panelStyle = "panel-danger"
      iconStyle = "glyphicon-thumbs-down"
    else
      panelStyle = "panel-warning"
      iconStyle = "glyphicon-question-sign"
    end
  end
%>

<h4><%= Time.at(@packet["data"]["signedData"]["timestamp"]).strftime("%-d-%-m-%Y %R") %></h4>

<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">From</h3>
      </div>
      <div class="panel-body">
        <% signedData["author"].each do |a| %>
        <ul>
          <li><%= a.first %>: <a href="/id/<%= a.first %>/<%= a.last %>"><%= a.last %></a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6" style="overflow:hidden">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">To</h3>
      </div>
      <div class="panel-body">
        <% signedData["recipient"].each do |r| %>
        <ul>
          <li><%= r.first %>: <a href="/id/<%= r.first %>/<%= r.last %>"><%= r.last %></a></li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="panel panel-default <%= panelStyle %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= signedData["type"].capitalize %></h3>
  </div>
  <div class="panel-body">
    <p><strong>Score:</strong> <%= signedData["rating"] %>
      <small>(<%= signedData["minRating"] %>...<%= signedData["maxRating"] %>)</small>
    </p>
    <p><strong>Comment:</strong> <%= signedData["comment"] %></p>
  </div>
</div>

<% sig = @packet["signatureDetails"].first
signerName = sig["signerKeyID"]
signerName = @packet["signerName"].second unless @packet["signerName"].nil?
%>
<p>Message origin verified by: <a href="/id/keyID/<%= sig["signerKeyID"] %>"><%= signerName %></a></p>

<p><a data-toggle="collapse" class="text-muted" data-target="#rawdata" href="#">Show raw data</a></p>
<pre id="rawdata" class="collapse">
<%= JSON.pretty_generate(@packet["data"]) %>
</pre>

<% end %>