<form action="" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <table class="table truncated-table">
    <% @connections.each do |id| %>
      <tr data-type="<%= id["type"] %>" data-value="<%= id["value"] %>">
        <td><%= id["type"] %></td>
        <td><a href="<%= "/id/#{id["type"]}/#{id["value"]}" %>" data-id-type="<%= id["type"] %>" data-id-value="<%= id["value"] %>" class="id-link"><%= id["value"] %></a></td>
        <td>
         <input class="form-control" name="linkedComment" type="text" placeholder="comment" <%= "disabled" unless current_user %>>
          <button name="confirm" class="btn btn-default btn-confirm <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-ok"></span>
            <%= id["confirmations"] %> Confirm</button>
          <button name="refute" class="btn btn-default btn-refute <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-remove"></span>
            <%= id["refutations"] %> Refute</button>
          <button class="btn btn-default btn-more"><span class="fa fa-ellipsis-h"></span></button>
        </td>
        <td>
        <div class="progress" style="min-width: 50px">
          <% percentage = id["confirmations"] * 100 / (id["confirmations"] + id["refutations"]) unless (id["confirmations"] + id["refutations"]) == 0 
          percentage = (percentage or 0) %>
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;">
            <%= percentage %> %
          </div>
        </div>

        </td>
      </tr>
      <tr style="display:none" class="active connectingpackets">
        <td></td><td class="connectingpackets" colspan="3"></td>
      </tr>
    <% end %>
      <tr class="active">
        <td><input id="addComment" class="form-control" name="linkedComment" type="text" placeholder="comment" <%= "disabled" unless current_user %>></td>
        <td><input id="addType" class="form-control" name="linkedType" type="text" placeholder="type" <%= "disabled" unless current_user %>></td>
        <td><input id="addValue" class="form-control" name="linkedValue" type="text" placeholder="value" <%= "disabled" unless current_user %>></td>
        <td><button id="addButton" class="btn btn-default <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-plus"></span> Add connection</button></td>
        <td></td>
      </tr>
  </table>
</form>