<form action="" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <table class="table truncated-table">
    <% @mentionedWith.each do |id| %>
      <tr>
        <td><%= id.first %></td>
        <td><a href="<%= "/id/#{id.first}/#{id.second}" %>"><%= id.second %></a></td>
        <td>
          <button name="confirm" class="btn btn-default <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
          <button name="refute" class="btn btn-default <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-remove"></span> Refute</button>
        </td>
        <td>
        <div class="progress" style="min-width: 50px">
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
            x %
          </div>
        </div>

        </td>
      </tr>
    <% end %>
      <tr class="active">
        <td><input class="form-control" name="linkedType" type="text" placeholder="type" <%= "disabled" unless current_user %>></td>
        <td><input class="form-control" name="linkedValue" type="text" placeholder="value" <%= "disabled" unless current_user %>></td>
        <td><button class="btn btn-default <%= "disabled" unless current_user %>"><span class="glyphicon glyphicon-plus"></span> Add connection</button></td>
        <td></td>
      </tr>
  </table>
</form>