<div class="row">
  <div class="col-md-4">
    <%= render "stats_box" %>
    <%= render "trustpath_box" %>
    <%= render "about_box" %>
    <%= render "filters_box" %>
  </div>

  <div class="col-md-8" id="received-messages">

    <% if current_user %>
      <%= render "write_message" %>
    <% else %>
      <%= render "login_info" %>
    <% end %>

    <% if @received.empty? %>
      <div class="alert alert-info">No feedback for '<%= params[:value] %>' yet</div>
    <% else %>
      <%= render partial: "message", collection: @received, locals: {showRecipient: true, showAuthor: true } %>
      <div id="more-received"><a href="#">More ...</a></div>
    <% end %>
  </div>
</div>