<div class="row">
  <div class="col-md-4">
    <%= render "stats_box" %>
    <%= render "about_box" %>
  </div>

  <div class="col-md-8">

    <% if current_user %>
      <%= render "write_message" %>
    <% else %>
      <%= render "login_info" %>
    <% end %>

    <% if @received.empty? %>
      <div class="alert alert-info">No feedback for '<%= params[:value] %>' yet</div>
    <% else %>
      <%= render partial: "message", collection: @received, locals: {showRecipient: false, showAuthor: true } %>
    <% end %>
  </div>
</div>