<div class="row">
  <div class="col-md-4">
    <%= render "stats_box" %>
    <%= render "trustpath_box" %>
    <%= render "about_box" %>
    <%= render "filters_box" %>
  </div>
  <div class="col-md-8" id="sent-messages">
    <% if @authored.empty? %>
      <div class="alert alert-info">No messages to show</div>
    <% else %>
      <%= render partial: "message", collection: @authored, locals: {showRecipient: true, showAuthor: true } %>
      <div id="more-sent"><a href="#">More ...</a></div>
    <% end %>
  </div>
</div>