<div class="panel panel-default">
  <div class="panel-body">
    <table class="stats-box table-condensed">
      <tr>
        <td style="width:120px">
          <% if @gravatarHash %>
          <a href="http://www.gravatar.com/<%= @gravatarHash %>" data-toggle="tooltip" data-placement="right" title="Gravatar for <%= @gravatarEmail %>"><img src="http://www.gravatar.com/avatar/<%= @gravatarHash %>?d=retro&s=100" class="img-thumbnail mar-right5" alt="Gravatar for <%= @gravatarEmail %>"></a>
          <% end %>
        </td>
        <td>
          <h4>
            <%= unless @stats["name"].empty?
                  name = @stats["name"]
                else
                  if (current_user and current_user.type == params[:type] and current_user.value == params[:value])
                    name = current_user.name
                  else
                    name = params[:value]
                  end
                end %>
              <%
                nickname = @connections.find { |c| c["type"] == "nickname" }
                if nickname
                  nickname = nickname["value"]
                  if nickname != name
                %>
                (<span class="text-muted"><%= nickname %></span>)
              <% end %>
            <% end %>
          </h4>
        </td>
      </tr>
      <tr>
        <td>Received</td>
        <td><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <%= @stats["receivedPositive"] %></span> <span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> <%= @stats["receivedNeutral"] %></span> <span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> <%= @stats["receivedNegative"] %></span></td>
      </tr>
      <tr>
        <td>Sent</td> 
        <td><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> <%= @stats["authoredPositive"] %></span> <span clasS="neutral"><span class="glyphicon glyphicon-question-sign"></span> <%= @stats["authoredNeutral"] %></span> <span class="negative"> <span class="glyphicon glyphicon-thumbs-down"></span> <%= @stats["authoredNegative"] %></span></td>
      </tr>
  <!--    <tr>
        <td>Recommendation <br>quality <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Recommendations given for identifiers that got good feedback later"></span></td>
        <td>- %</td>
      </tr>
      <tr>
        <td>Connection <br>quality <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Created connections that were not disputed by others"></span></td>
        <td>- %</td>
      </tr> -->
     <tr>
        <td>First seen</td>
        <td><% if @stats["firstSeen"] != 0 %>
          <%= Time.at(@stats["firstSeen"]).to_date() %>
          <% else %>
          -
          <% end %>
        </td>
      </tr>
<!--       <tr>
        <td>Trust map size</td>
        <td><%= @stats["trustMapSize"] %></td>
      </tr> -->
    </table>
  </div>
</div>
