<% isViewpoint = params[:type] == @viewpointType and params[:value] == @viewpointValue %>
<% if !(isViewpoint and current_user) %>
  <% if @trustpaths.empty? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <% if isViewpoint %>
        This is the current trust viewpoint.
      <% else %>
        No trust path to this ID <span class="glyphicon glyphicon-question-sign pull-right" data-toggle="tooltip" title="A trust path to this identifier is formed when you trust an identifier that trusts this identifier. If not logged in, a trust path from this Identifi node is shown."></span>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="list-unstyled">
          <li>
            <a data-id-type="<%= @viewpointType %>" data-id-value="<%= @viewpointValue %>" class="id-link" href="/id/<%= "#{u @viewpointType}/#{u @viewpointValue}" %>">
              <img alt="" src="https://www.gravatar.com/avatar/<%= @viewpointGravatarHash %>?d=retro&s=30" class="mar-bot5 img-rounded mar-right5"> 
              <%= @viewpointName %>
            </a>
          </li>
           <li class="has-success">
             <span class="mar-left5 mar-bot10 glyphicon glyphicon-thumbs-up form-control-feedback"></span>
           </li>
        <% if @trustpaths.size > 2 %>
          <% @trustpaths[1..-2].each_with_index do |p,i| %>
          <li>
            <% n = 0 %>
            <% p.each do |id| %>
              <a data-id-type="<%= id.first %>" data-id-value="<%= id.second %>" class="id-link" href="/id/<%= "#{u id.first}/#{u id.second}" %>">
                <img alt="" src="https://www.gravatar.com/avatar/<%= id[3] %>?d=retro&s=30" class="img-rounded mar-bot5 mar-right5"> 
                <%= id[2] or id[1] %>
              </a><br>
              <% if n == 2 and p.size > 3 %>
                <a data-toggle="collapse" href="#tp-more<%=i%>"><%= p.size - 3 %> more</a><br><span id="tp-more<%=i%>" class="collapse">
              <% end %>
              <% if p.size > 3 and n == p.size - 1 %>
                </span>
              <% end %>
              <% n += 1 %>
            <% end %>
          </li>
           <li class="has-success">
             <span class="mar-left5 mar-bot10 glyphicon glyphicon-thumbs-up form-control-feedback"></span>
           </li>
           <% end %>
         <% end %>
          <li>
            <% @trustpaths.last.each do |id| %>
            <a data-id-type="<%= params[:type] %>" data-id-value="<%= params[:value] %>" class="id-link" href="/id/<%= "#{u params[:type]}/#{u params[:value]}" %>">
              <img alt="" src="https://www.gravatar.com/avatar/<%= @gravatarHash %>?d=retro&s=30" class="img-rounded mar-right5"> 
              <%= 
                unless @stats["name"].empty?
                  @stats["name"]
                else
                  id.second
                end
                %>
            </a>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>
