<h3><span id="id-value"><%= params[:value] %></span>
  <small class="text-muted">
    <% if params[:type] == "bitcoin_address" %>
      <a href="http://blockchain.info/address/<%= params[:value] %>">
        <span id="id-type"><%= params[:type] %></span>
      </a>
    <% else %>
      <span id="id-type"><%= params[:type] %></span>
    <% end %>
  </small>
</h3>

<!--
<p>
  <a href="/write/type/<%= params[:value] %>" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add identifiers</a>
  <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-screenshot"></span> Set as point of view</a>
</p> -->

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#received" data-toggle="tab">Received feedback (<%= @stats["receivedPositive"] + @stats["receivedNeutral"] + @stats["receivedNegative"] %>)</a></li>
  <li><a href="#sent" data-toggle="tab">Sent feedback (<%= @stats["authoredPositive"] + @stats["authoredNeutral"] + @stats["authoredNegative"] %>)</a></li>
  <li><a href="#about" data-toggle="tab">Connections (<%= @connections.size %>)</a></li>
  <!--<li><a href="#chart" data-toggle="tab">Chart</a></li>
  <li><a href="#graph" data-toggle="tab">Graph</a></li>-->
</ul>
<br>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="received">
    <%= render "received" %>
  </div>
  <div class="tab-pane" id="sent">
    <%= render "sent" %>
  </div>
  <div class="tab-pane" id="about">
    <%= render "about" %>
  </div>
  <div class="tab-pane" id="chart">
    <%= render "chart" %>
  </div>
  <div class="tab-pane" id="graph">
    <%= render "graph" %>
  </div>
</div>
