<div class="panel panel-default">
  <div class="panel-heading visible-xs">
    <h4 class="panel-title"><a data-toggle="collapse" data-target=".filters"><span class="glyphicon glyphicon-chevron-down"></span> Filters</a></h4></div>
  <div class="panel-body collapse filters">
    <ul class="nav nav-pills nav-stacked packet-type-filter">
      <li <%= "class=active" if session[:packet_type_filter] == "" %> data-val=""><a href="#"><span class="glyphicon glyphicon-home"></span> All</a></li>
      <li <%= "class=active" if session[:packet_type_filter] == "review" %> data-val="review"><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span> Review</a></li>
      <ul class="nav nav-pills nav-stacked" style="padding-left: 1em;">
        <li <%= "class=active" if session[:packet_type_filter] == "review/positive" %> data-val="review/positive"><a href="#"><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> Positive</span></a></li>
        <li <%= "class=active" if session[:packet_type_filter] == "review/neutral" %> data-val="review/neutral"><a href="#"><span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> Neutral</span></a></li>
        <li <%= "class=active" if session[:packet_type_filter] == "review/negative" %> data-val="review/negative"><a href="#"><span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> Negative</span></a></li>
      </ul>
      <li <%= "class=active" if session[:packet_type_filter] == "connection" %> data-val="connection"><a href="#"><span class="glyphicon glyphicon-ok"></span> Connection</a></li>
      <!-- <li <%= "class=active" if session[:packet_type_filter] == "!review,connection" %>><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li> -->
    </ul>
    <% nodeID = IdentifiRails::Application.config.nodeID %>
    <div class="alert alert-info"><p>Trust viewpoint: 
      <a href="/id/<%= @viewpointType %>/<%= @viewpointValue %>" data-id-type="<%= @viewpointType %>" data-id-value="<%= @viewpointValue %>" class="id-link"><%= @viewpointName or @viewpointValue %></a>
    </p>
    <p>Max distance from viewpoint:</p>
    <div class="btn-group trust-distance-selector">
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == -1 %>" data-val="-1">&#x2715;</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 1 %>" data-val="1">1</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 2 %>" data-val="2">2</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 3 %>" data-val="3">3</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 0 %>" data-val="0">&#x221e;</button>
    </div>
    </div>
  </div>
</div>
