<div class="panel panel-default">
  <div class="panel-body">
    <strong>Filters</strong>
    <ul class="list-unstyled">
      <li>
        <span class="checkbox">
          <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Trusted content only</label>
        </span>
      </li>
      <li>
        <span class="checkbox">
          <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Review</label>
        </span>
      </li>
      <ul>
        <li>
          <span class="checkbox">
           <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Positive</label>
          </span>
        </li>
        <li>
          <span class="checkbox">
           <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Neutral</label>
          </span>
        </li>
        <li>
          <span class="checkbox">
           <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Negative</label>
          </span>
        </li>
      </ul>
      <li>
        <span class="checkbox">
          <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Connection</label>
        </span>
      </li>
      <li>
        <span class="checkbox">
          <label><input type="checkbox" <%= "checked" if session[:trusted_only] %>> Other</label>
        </span>
      </li>
      <li>
    </ul>
  </div>
</div>