<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked packet-type-filter">
      <li <%= "class=active" if session[:packet_type_filter] == "" %>><a href="#" data-val=""><span class="glyphicon glyphicon-home"></span> All</a></li>
      <li <%= "class=active" if session[:packet_type_filter] == "review" %>><a href="#" data-val="review"><span class="glyphicon glyphicon-thumbs-up"></span> Review</a></li>
      <ul class="nav nav-pills nav-stacked" style="padding-left: 1em;">
        <li <%= "class=active" if session[:packet_type_filter] == "positive" %>><a href="#" data-val="positive"><span class="positive"><span class="glyphicon glyphicon-thumbs-up"></span> Positive</span></a></li>
        <li <%= "class=active" if session[:packet_type_filter] == "neutral" %>><a href="#" data-val="neutral"><span class="neutral"><span class="glyphicon glyphicon-question-sign"></span> Neutral</span></a></li>
        <li <%= "class=active" if session[:packet_type_filter] == "negative" %>><a href="#" data-val="negative"><span class="negative"><span class="glyphicon glyphicon-thumbs-down"></span> Negative</span></a></li>
      </ul>
      <li <%= "class=active" if session[:packet_type_filter] == "connection" %>><a href="#" data-val="connection"><span class="fa fa-link"></span> Connection</a></li>
      <li <%= "class=active" if session[:packet_type_filter] == "other" %>><a href="#" data-val="other"><span class="glyphicon glyphicon-question-sign"></span> Other</a></li>
      <li>
    </ul>
    <% nodeID = IdentifiRails::Application.config.nodeID %>
    <div class="alert alert-info"><p>Trust viewpoint: 
      <a href="/id/<%= nodeID[0] %>/<%= nodeID[1] %>" class="id-link"><%= @viewpointName or nodeID[1] %></a>
    </p>
    <p>Max distance from viewpoint:</p>
    <div class="btn-group trust-distance-selector">
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == -1 %>" data-val="-1">&#x2715;</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 1 %>" data-val="1">1</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 2 %>" data-val="2">2</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 3 %>" data-val="3">3</button>
      <button type="button" class="btn btn-default<%= " active" if session[:max_trust_distance] == 0 %>" data-val="0">&#x221e;</button>
    </div>
    </div>
  </div>
</div>