<%
  signedData = message["data"]["signedData"] 

  panelStyle = "panel-default"
  iconStyle =""

  case signedData["type"]
  when "confirm_connection"
    iconStyle = "fa fa-chain"
  when "connection"
    iconStyle = "fa fa-chain"
  when "refute_connection"
    iconStyle = "fa fa-chain-broken"
  when "review"
    rating = signedData["rating"]
    neutralRating = (signedData["minRating"] + signedData["maxRating"]) / 2
    if rating > neutralRating
      panelStyle = "panel-success"
      iconStyle = "glyphicon glyphicon-thumbs-up"
    elsif rating < neutralRating
      panelStyle = "panel-danger"
      iconStyle = "glyphicon glyphicon-thumbs-down"
    else
      panelStyle = "panel-warning"
      iconStyle = "glyphicon glyphicon-question-sign"
    end
  end

  author = signedData["author"].first
  recipient =  signedData["recipient"].first
  authorName = message["authorName"]
  recipientName = message["recipientName"]
  authorName = author.second if authorName.nil? or authorName.empty?
  recipientName = recipient.second if recipientName.nil? or recipientName.empty?
%>

<div class="panel <%= panelStyle %> message-panel">
  <div class="panel-heading">
    <p>
      <span class="<%= iconStyle %> pull-right"></span>
      <% if showAuthor %>
      <strong>
        <a href="/id/<%= author.first %>/<%= author.last %>" class="id-link">
          <%= authorName %>
        </a>
      </strong>
      <% end %>
      <% if showRecipient %>
      &#x25B8;
      <a href="/id/<%= recipient.first %>/<%= recipient.last %>" class="id-link">
        <%= recipientName %>
      </a>
      <% end %>
       - <a href="/message/<%= message["hash"] %>" class="text-muted small"><%= Time.at(signedData["timestamp"]).strftime("%-d-%-m-%Y %R") %></a>
    </p>

    <% if ["connection", "confirm_connection", "refute_connection"].include?(signedData["type"]) %>
    <p class="small">
    <% signedData["recipient"].each_with_index do |r, i| %>
      <span class="text-muted"><%= r.first %></span>
      <a href="<%= "/id/#{r.first}/#{r.second}" %>" class="id-link"><%= r.second %></a>
      <% unless i + 1 == signedData["recipient"].size %>
        <span class="<%= iconStyle %>"></span> 
      <% end %>
    <% end %>
    </p>
    <% end %>

    <p><%= signedData["comment"] %></p>
  </div>
</div>
