<%
  signedData = message["data"]["signedData"] 

  panelStyle = "panel-default"
  iconStyle =""

  if signedData["type"] == "connection"
    iconStyle = "glyphicon-link"
  end

  if signedData["type"] == "review"
    rating = signedData["rating"]
    neutralRating = (signedData["minRating"] + signedData["maxRating"]) / 2
    if rating > neutralRating
      panelStyle = "panel-success"
      iconStyle = "glyphicon-thumbs-up"
    elsif rating < neutralRating
      panelStyle = "panel-danger"
      iconStyle = "glyphicon-thumbs-down"
    else
      panelStyle = "panel-warning"
      iconStyle = "glyphicon-question-sign"
    end
  end

  author = signedData["author"].first
  recipient =  signedData["recipient"].first
  authorName = message["authorName"]
  recipientName = message["recipientName"]
  authorName = author if authorName.nil? or authorName.first.empty?
  recipientName = recipient if recipientName.nil? or recipientName.first.empty?
%>

<div class="panel <%= panelStyle %>">
  <div class="panel-heading">
    <p>
      <span class="glyphicon <%= iconStyle %> pull-right"></span>
      <% if showAuthor %>
      <strong>
        <a href="/id/<%= author.first %>/<%= author.last %>">
          <%= authorName.second %>
        </a>
      </strong>
      <% end %>
      &#x25B8;
      <% if showRecipient %>
      <a href="/id/<%= recipient.first %>/<%= recipient.last %>">
        <%= recipientName.second %>
      </a>
      <% end %>
    </p>
    <p><%= signedData["comment"] %></p>
    <p><a href="/message/<%= message["hash"] %>" class="text-muted"><%= Time.at(signedData["timestamp"]).to_time %></a></p>
  </div>
</div>
