<!DOCTYPE html>
<html>
<head>
  <title>Identifi<%= " - #{@pageTitle}" if @pageTitle  %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://login.persona.org/include.js" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Address book with trust ratings. Link all your identifiers and profiles, get verified and use the same trusted identity on any site or situation.">
  <meta property="og:image" content="<%= image_url "identifi.png" %>" />
  <% if @googlePlusUrl %>
  <link rel=”author” href=”<%= @googlePlusUrl %>“/>
  <% end %>
</head>
<body>

<!--<div id="footer">
  <div class="container">
    <p class="text-muted"><a href="http://identifi.org">Identifi</a> stores all data in a decentralized network running on <a href="https://github.com/identifi">free software</a>.</p>
  </div>
</div>-->

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="/">Identifi</a></h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left identifi-search" id="nav-search" role="search">
          <div class="input-group">
            <input type="text" value="<%= params[:query] %>" id="nav-search-field" class="form-control" placeholder="Search">
            <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'index' %>"><a href="/"><span class="glyphicon glyphicon-home"></span> <span class="hidden-sm hidden-md hidden-lg">Home</span></a></li>
          <li class="<%= 'active' if params[:controller] == 'home' && params[:action] == 'about' %>"><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> <span class="hidden-sm hidden-md hidden-lg">About</span></a></li>
          <% if current_user %>
            <li class="<%= 'active' if params[:type] == current_user.type && params[:value] == current_user.value %>"><a href="/id/<%= "#{current_user.type}/#{current_user.value}" %>"><span class="glyphicon glyphicon-user"></span> <%= current_user.name %></a></li>
            <li class=""><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> <span class="hidden-sm hidden-md hidden-lg">Log out</span></a></li>
            </li>
          <% else %>
            <li class="dropdown <%= 'active' if params[:controller] == 'login' %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Log in <b class="caret"></b></a>
              <ul class="dropdown-menu login-menu">
                <%= render 'login_menu' %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" id="content">
    <%= yield %>
  </div>

</body>
</html>
