<!DOCTYPE html>
<html>
<head>
  <title>Identifi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div id="wrap">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "identifi-logo.png" %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" id="nav-search" role="search">
          <div class="form-group">
            <input type="text" id="nav-search-field" style="width:340px" class="form-control" placeholder="Search for name, url, email or any other identifier">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= 'active' if params[:controller] == 'search' %>"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <% if current_user %>
            <li class="<%= 'active' if params[:controller] == 'login' %>"><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <% else %>
            <li class="<%= 'active' if params[:controller] == 'login' %>"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!--
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "identifi-logo.png" %></a>
      </div>

      <form class="navbar-form navbar-left" id="nav-search" role="search">
        <div class="input-group">
          <input type="text" id="nav-search-field" style="width:360px" class="form-control" placeholder="Search for name, url, email or any other identifier">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>

      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'search' %>"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
          <% if current_user %>
            <li class="<%= 'active' if params[:controller] == 'login' %>"><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          <% else %>
            <li class="<%= 'active' if params[:controller] == 'login' %>"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
-->

  <div class="container">
    <%= yield %>
  </div>
</div>

<div id="push"></div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Powered by <a href="http://identifi.org">Identifi</a> and <a href="https://github.com/identifi/identifi-rails">Identifi-rails</a>.</p>
  </div>
</div>

</body>
</html>
